* {
    margin: 0;
    padding: 0;
}


html,
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.container-products {
    max-width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style-type: none;
    margin-top: 57px;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.logo {
    margin-top: 63px;
}

.menu-link {
    display: block;
    padding: 10px 13px;
    /* fvfdvdf  */
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-link:hover {
    color: #212121;
}

.search {
    align-items: center;
    display: flex;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.slider-h3 {
    color: #43a047;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    color: #43a047;
    letter-spacing: 1.8px;
}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -3.2px;
}

.slider-text {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 458px;
    margin-bottom: 32px;
    margin-top: 10px;
}

.button {
    color: #212121;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.6px;
    text-decoration: none;
    height: 45px;
    line-height: 45px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    display: inline-block;
    padding-left: 31px;
    padding-right: 31px;
}

.header-text {
    margin-top: 283px;
}

.pagination {
    display: flex;
    position: absolute;
    width: 80%;
    justify-content: center;
    bottom: 19px;
    align-items: center;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #c7c7c7;
    display: block;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.circle-active {
    background-color: #212121;
    width: 40px;
    height: 40px;
}

/*  put footer to bottom */
.wrapper-top {
    flex-grow: 1;
}

.wrapper-main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper-footer {
    min-height: 50px;
    background-color: #F7F7F7;
}

/*  put footer to bottom.  END */

.container2 {
    max-width: 1366px;
    margin: 0 auto;
}


.container-products-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
